* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e2e4f0;

  /* Google fonts used in the web along with their weights are imported here  */
  @import url("https://fonts.googleapis.com/css2?family=Archivo&family=Poppins:wght@300;500;600&family=Roboto:wght@400;700&display=swap");

  /* font-family: 'Archivo', sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}
